
body {
    font-family: var(--tipografiaGeneral);
    padding: 10px;
}
a {
    text-decoration: double;
    color: black;
}
li {
    list-style: none;
}
ul, ol {
    padding: 0;
}

h1{
    font-family: var(--tipografiaTitulos);
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}